extends layout

block content
  h1= title
  p Welcome to #{title}
  p You made it to the landing page!  Try some endpoints found in the README on GitHub
  a(href="github.com/stevenshow/terminal-server") Terminal-server
