doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' type='image/png' href="/images/favicon/favicon-16x16.png")
  body
    block content
